@mixin article__slider {
  margin-left: $lem;

  order: 2;

  width: 420px;
  height: 230px;
  @include mobile-and-up {
    height: 630px;
    flex-basis: 50%;
  }

  .figure {
    @include figure(stretched);
  }
}

.slider {
  @include slider;
}
