@mixin article($border: all, $author_type: large) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  @include article-border($border);


  &--herculean {
    @include article--herculean;
  }

  &--is-it-web-or-photoshop {
    @include article--is-it-web-or-photoshop;
  }

  &--masters-of-web-february-2016 {
    @include article--masters-of-web-february-2016;
  }



  &__title {
    @include article__title;
  }

  &__thumb {
    @include article__thumb;
  }

  &__excerpt {
    @include article__excerpt;
  }

  &__date {
    @include article__date;
  }

  &__categories {
    @include article__categories;
  }

  &__more {
    @include article__more;
    display: none;
  }

  &__slider {
    @include article__slider;
  }

  &__authors {
    @include article__authors($author_type);
  }
}
