@mixin article__authors($width: 44em) {
/*
  display: flex;
  flex-wrap: wrap;

  @include max-width($width);

  .author {
    @include max-width($width);
    @include author;
  }
  */

  .author {
    @include author;
  }

  .section-title {
    display: none;
  }
}
