@mixin article-grid {
  display: flex;

  .meta {
    display: flex;
    flex-direction: column;

    margin-right: $lem;

    .article__date,
    .article__categories,
    .article__more {
      margin-top: $lem / 2;
    }
  }

  .article__excerpt {
    order: 2;
  }
}
