@mixin article-masters-of-web-february-2016 {
  flex-basis: 100%;
  flex-direction: column;

  .article__date,
  .article__categories {
    align-self: center;
  }

  // Without this the slider will overlap the articles after
  .article__slider {
    @include portrait {
      height: calc(100vw / 0.75);
    }

    @include landscape {
      height: calc(100vw / 1.7778);
    }
  }

  // The slider has images
  .slider {
    @include slider--with-image;
    @include slider-with-url;

    @include portrait {
      @include intrinsic-ratio(3, 4, '.slider__slides');
    }

    @include landscape {
      @include intrinsic-ratio(16, 9, '.slider__slides');
    }
  }
}
