@mixin default__grid {
  overflow-x: hidden;

  .articles,
  .footer {
    @include mobile {
      margin: $lem;
    }

    @include tablet {
      margin: $lem * 2;
    }

    @include landscape {
      margin: 5vh 10vw;
    }
  }

  .article {
    @include mobile {
      padding: $lem;
    }

    @include tablet {
      padding: $lem * 2;
    }

    @include landscape {
      padding: 5vh 5vw;
    }
  }
}
