@mixin default__grid {
  // For the blockquote skew
  overflow-x: hidden;

  // For the intro
  position: relative;
  .articles,
  .article,
  .footer {
    position: relative;
  }


  // Make room for intro background text
  .articles,
  .footer {
    @include mobile {
      margin: $lem;
    }

    @include tablet {
      margin: $lem * 2;
    }

    @include landscape {
      margin: 5vh 10vw;
    }
  }

  // Add whitespace / Make room for intro background text
  .article {
    @include mobile {
      padding: $lem;
    }

    @include tablet {
      padding: $lem * 2;
    }

    @include landscape {
      padding: 5vh 5vw;
    }
  }
}
