@mixin default__grid {
  overflow-x: hidden;
  position: relative;


  .article,
  .articles {
    max-height: 100000vh;
  }

  .articles,
  .footer {
    position: relative;
    z-index: 1;

    @include mobile {
      margin: $lem;
    }

    @include tablet {
      margin: $lem * 2;
    }

    @include landscape {
      margin: 10%;
    }
  }

  .article {
    @include mobile {
      padding: $lem;
    }

    @include tablet {
      padding: $lem * 2;
    }

    @include landscape {
      padding: 10%;
    }
  }
}
