@mixin author-grid-large--landscape {
  @include landscape {
    @include max-width(44em);
    align-items: center;

    > * {
      flex-basis: 0;
    }

    &__avatar,
    &__name,
    &__title {
      margin-left: $lem;
      flex-grow: 1;

    }

    &__description {
      flex-grow: 7;
    }

    &__title {
      margin-right: $lem / 2;
      @include word-wrap;
      @include scale(small-1);
    }
  }
}
