@mixin author-grid-large--landscape {
  @include landscape {
    @include max-width(44em);
    align-items: center;

    &__avatar,
    &__name,
    &__title {
      margin-left: $lem;
    }

    &__title {
      margin-right: $lem / 2;
      @include word-wrap;
    }
  }
}
