@mixin what-some-people-apart-are-up-to-in-2016__artwork {
  position: absolute;

  .article__authors {
    position: relative;

    .author {
      position: absolute;
      top: 0;
      left: 0;

      opacity:  0;
      z-index: 0;
      @include transition(opacity, 1s);
      &--active {
        opacity: 1;
        z-index: 1;
      }

      padding: $lem / 2;

      &__description,
      &__name,
      &__title {
        display: none;
      }

      &__avatar {
        @include author__avatar;
      }
    }
  }
}
