html {
  &.the-designer-who-doesnt-code {
    .article {
      .notice {
        @include border(normal, top);
        @include border(normal, bottom);
        max-width: none;
        margin-bottom: $lem;
        height: $lem;
        overflow: hidden;

        .text {
          padding: 0 $lem;
        }
      }

      .notice-2,
      .notice-4 {
        margin-top: $lem;
      }
    }
  }
}
