@mixin default--animate {
  @include animation(default--animate, 1s);
}

@include keyframes(default--animate) {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
