@mixin intro-active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  .articles {
    @include articles--inactive;
  }

  .article {
    @include article--inactive;
  }

  .intro {
    @include intro--active;
  }
}
