@mixin intro-active {
  @include transition(opacity);

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  .articles,
  .article {
    opacity: 0;
    display: none;
  }

  .intro {
    @include transition(all);
    @include intro--active;
  }

  .footer {

  }
}
