@mixin intro-active {
  display: flex;
  flex-direction: column;
  justify-content: center;

  overflow: hidden;

  .articles {
    @include articles--inactive;
  }

  .article {
    @include article--inactive;
  }

  .footer {
    @include footer--inactive;
  }

  .intro {
    @include intro--active;
  }
}
