@mixin articles {
  $margin: $lem * 2;

  @include articles-grid($margin);
  @include colors(black-on-white);

  // animation
  opacity: 1;
  @include transition(all, 1s);
  transform: scale(1);

  .article {
    @include article;
  }

  // An article can modify the grid, so we need a regrid
  @include articles-grid-regrid($margin);
}
