@mixin article__authors--stacked {
  position: relative;
  top: -$lem;
  left: -$lem;

  .author {
    @include author--stacked;
    @include author--stacked--active;
    @include author--avatar-only;

    &__avatar {
      @include landscape {
        @include author__avatar($lem * 4);
      }
    }
  }
}
