@mixin footnotes__border {
  border-top: 1px solid;
  margin-top: $lem * 2;

  @include portrait {
    border-bottom: 1px solid;
    padding-bottom: $lem * 2;
  }

  @include mobile {
    padding-bottom: 0;
    margin-bottom: $lem * 2;
  }
}
