@mixin author-grid-small--landscape {
  @include landscape {
    align-items: center;
    
    > * {
      flex-basis: 0;
      flex-grow: 2;
      margin-right: $lem / 2;
    }

    &__avatar {
      flex-grow: 1
    }

    &__description {
      flex-grow: 4;
    }
  }
}
