// This is the clone of contact__artwork
// - because it is used in the article template
// - it will be displayed above the footer for every article
@mixin contact-artwork {
  display: flex;
  justify-content: center;
  width: 100%;

  .figure-with-text-around-circle {
    @include figure-with-text-around-circle($number-of-chars: 19);
  }
}
