@mixin slider-with-url--portrait {
  @include portrait {
    .figure {
      flex-direction: column;

      .figcaption {
        display: flex;
        justify-content: center;
        align-items: center;

        height: $lem * 3;
        width: 98%;
        
        @include colors(black-on-white);
        @include scale(small-1);
      }
    }
  }
}
