@mixin slider-with-url--portrait {
  @include portrait {
    .figure {
      flex-direction: column;

      .figcaption {
        .link {
          padding: $lem / 4;
          text-align: center;
        }
      }
    }
  }
}
