@mixin footnotes__footnote {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  .link {
    @include link(black-on-white, black-on-white, black-on-white);

    &.go-back {
      display: flex;
      @include link-linethrough;

      .arrow-with-triangle {
        @include arrow-with-triangle($size: $lem * 2);
      }

      @include mobile {
        margin-top: $lem / 2;
        @include scale(small-1);
      }
    }
  }
}
