@mixin article--contact {
  border: none;
  align-items: center;

  .article__title {
    display: none;
  }

  .figure-with-text-around-circle {
    @include figure-with-text-around-circle($number-of-chars: 19);
  }
}
