@mixin article__video {
  margin: $lem 0;

  + .article__video {
    margin-top: 0;
  }

  .video {
    @include video;
  }

  .video-link {
    @include background-image-lined;

    display: flex;
    justify-content: center;
    padding: $lem / 2;

    .link {
      @include text-style(figcaption);
    }
  }
}
