@mixin default__show-intro {
  display: flex;
  flex-direction: column;

  // min full height
  height: 100vh;
  justify-content: space-around;

  .intro {
    display: flex;
    justify-content: center;
    align-items: center;
    @include animation(show-intro);

    &__chars {
      display: block;
      text-transform: none;
      text-align: center;
      max-width: calc(#{25em * 1.333});

      @include animation(resize-chars, 0.6s);

      .char {
        @include animation(char-margin);
      }
    }
  }

  .articles,
  .article {
    @include animation(hide-articles, 1s);
  }
}




@include keyframes(char-margin) {
  0% {

  }

  100% {
    margin: 0;
    padding: 0;
    flex-basis: auto;
  }
}


@include keyframes(resize-chars) {
  0% {

  }

  100% {
    // text-style(article-body-text)
    font-size: 1.333em;
    font-weight: 300;
  }
}

@include keyframes(show-intro) {
  0% {
  }

  100% {
    z-index: 1;
  }
}


@include keyframes(hide-articles) {
  0% {
  }

  100% {
    opacity: 0;
    z-index: -1;
    max-height: 0;
    margin: 0;
  }
}
