@mixin article__video--inside-article {
  @include background-image-dotted;
  margin: $lem 0;

  + .article__video {
    margin-top: 0;
  }

  .video {
    padding: $lem * 3;
    box-sizing: border-box;
    width: auto;
    max-width: 100%;

    @include portrait {
      padding: $lem;
    }

    @include mobile {
      padding: $lem / 2;
    }
  }

  .video-link {
    display: flex;
    justify-content: center;

    .link {
      @include text-style(figcaption);
    }
  }
}
