@mixin article__grid {
  // min full height
  min-height: 100vh;
  justify-content: space-around;

  .article,
  .footer {
    @include landscape {
      margin: 10vh 10%;
      padding: 0;
    }
  }
}
