@mixin article__grid {
  display: flex;
  flex-direction: column;

  // min full height
  min-height: 100vh;
  justify-content: space-around;

  // reset padding, add margin instead
  .article {
    @include landscape {
      margin: 5vh 10vw;
      padding: 0;
    }
  }
}
