@mixin article--masters-of-web {
  width: 100%;
  margin-right: 0;

  // This fixes the flexbox word-wrap bug
  // - when removed the title goes beyond the slider
  @include mobile {
    flex-direction: row;
    > * {
      width: 100%;
    }
  }

  .article__date,
  .article__categories {
    align-self: center;
    text-align: center;
  }

  // Without this the slider will overlap the articles after
  // - article width = 100vw - margin-left - margin-right
  .article__slider {
    width: 100%;

    @include mobile {
      height: calc((100vw - (#{$lem  * 2})) / 0.75);
    }

    @include tablet {
      height: calc((100vw - (#{$lem  * 2 * 2})) / 0.75);
    }

    @include ipad-pro {
      height: calc((100vw - (#{$lem  * 2 * 2})) / 1.7778);
    }

    @include landscape {
      height: calc((100vw - (10vw * 2)) / 1.7778);
    }
  }

  // The slider has images and figcaption
  .slider {
    @include slider--with-image;
    @include slider-with-url;

    @include portrait {
      @include intrinsic-ratio(3, 4, '.slider__slides');
    }

    @include ipad-pro {
      @include intrinsic-ratio(16, 9, '.slider__slides');
    }

    @include landscape {
      @include intrinsic-ratio(16, 9, '.slider__slides');
    }
  }
}
