@mixin slider-with-url {
  @include slider-with-url--portrait;
  @include slider-with-url--mobile;
  @include slider-with-url--landscape;

  .figure {
    display: flex;

    .figcaption {
      display: inline-block;

      .link {
        @include link(black-on-white, black-on-white, black-on-white);
        @include link-linethrough;
        @include word-wrap;
        margin: $lem;
      }
    }
  }
}
