html {
  &.home {
    body {
      .articles {
        .article {
          &--web-trends-september-2017-artwork {
            border: none;
            padding: 0;

            position: relative;
            overflow: hidden;

            .wts17a {
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
              align-items: center;
              
              position: absolute;
              top: 0;
              left: 0;
              opacity: 0;

              width: 100%;
              height: 100%;

              @include transition(opacity);

              &--active {
                opacity: 1;
                z-index: 100;
              }
            }

            @include portrait {
              display: none;
            }

            .web-trends-september-2017-artwork__spacer {
              @include web-trends-september-2017-artwork__spacer;
            }

            .web-trends-september-2017-artwork__web-design-is-typography {
              @include web-trends-september-2017-artwork__web-design-is-typography;
            }

            .web-trends-september-2017-artwork__interactive-code-art {
              @include web-trends-september-2017-artwork__interactive-code-art;
            }

            .web-trends-september-2017-artwork__new-kind-of-gallery {
              @include web-trends-september-2017-artwork__new-kind-of-gallery;
            }

            .web-trends-september-2017-artwork__bordered-layout {
              @include web-trends-september-2017-artwork__bordered-layout;
            }

            .web-trends-september-2017-artwork__layers {
              @include web-trends-september-2017-artwork__layers;
            }

            .web-trends-september-2017-artwork__hand-drawn-decorations {
              @include web-trends-september-2017-artwork__hand-drawn-decorations;
            }

            .web-trends-september-2017-artwork__live-data {
              @include web-trends-september-2017-artwork__live-data;
            }

            .web-trends-september-2017-artwork__changing-colors {
              @include web-trends-september-2017-artwork__changing-colors;
            }

            .web-trends-september-2017-artwork__animated-cursors {
              @include web-trends-september-2017-artwork__animated-cursors;
            }
          }
        }
      }
    }
  }
}
