@mixin footer($type: null) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: $lem * 2 0 0;

  .flip {
    @include text-style(metamn);
    @include link-with-fliptext;
  }

  @include footer--article;
  @include footer--mobile;

  @if ($type == home) {
    @include footer--home;
  }
}
