@mixin footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: $lem * 2 0 0;

  .arrow-with-saquo {
    @include arrow-with-saquo(left);
    position: relative;
    margin-left: -$lem;
  }

  .link {
    @include link(black-on-white, black-on-white, black-on-white);
  }
}
