@mixin article__title {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  margin-bottom: $lem * 2;
  
  @include text-style(title);

  .link {
    @include link(black-on-white, black-on-white, black-on-white);
    @include link-linethrough;
  }
}
