@mixin mailchimp__signup-form {
  #mc_embed_signup_scroll {
      display: flex;
      flex-direction: column;
      justify-content: center;

      > * {
        order: 1;
      }

      // Email input label
      label {
        display: none;
      }

      // The submit button
      .clear {

      }

      // View campaigns
      p {
        display: none;
      }
  }
}
