@mixin text-skew($hide: false) {
  @include colors(black-on-white);
  border: $lem / 8 solid;
  transform: skew(10deg);
  padding: $lem;
  margin-top: $lem;
  margin-bottom: $lem;

  @if ($hide != false) {
    border: none;
    transform: skew(0deg);
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}
