@mixin intro {
  position: absolute;;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  display: none;

  &__text {
    @include intro__text;
  }

  &__chars {
    @include intro__chars;
  }
}
