// The default article template
//
//
// Styleguide article-template

html {
  &.template-article {
    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      justify-content: space-around;

      .article,
      .footer {
        @include landscape {
          margin: 10vh 10%;
          padding: 0;
        }
      }

      .article {
        @include article($border: landscape-only, $author_type: small);

        &__content {
          @include text-style(article-body-text);
        }

        .article-meta {
          @include article-meta;
        }

        &__footnotes {
          @include footnotes;
        }
      }
    }
  }
}
