


<!doctype html>
<html lang="en" class=" template-">
  <head>
    <meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="author" content="Csongor Bartus">

<meta property="og:title" content="Beat">
<meta property="og:url" content="/">


    <title> &mdash; Beat</title>
    <link href="/assets/styles/site.min.css" media="screen, projection" rel="stylesheet" type="text/css" />
    
    
      <script src="https://use.typekit.net/syb1owt.js"></script>
    
  
    
      <script src="/assets/scripts/vendors.js"></script>
    
  

    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />

  </head>

  <body>




<header class="header">
  <h3 class="header__title">Beat</h3>
</header>


<article class="article">
  
  

  


<h3 class="article__title">
  
    
  
    
  

  


  


  

  

  <a class="link " href="/" title=""></a>
  
</h3>


  <div class='article__content'>
    
  </div>

  
</article>

<footer class="footer">
  <h3>Footer</h3>

  <a class="link" title="Beat" href="/">
    <span class="arrow-with-saquo arrow-with-saquo-- ">
  <span class="arrow-with-saquo__line"></span>

  
  <span class="saquo saquo-- arrow-with-saquo__saquo">
  <span class="saquo__line saquo__line--top"></span>
  <span class="saquo__line saquo__line--bottom"></span>
</span>

</span>

  </a>

  <time class="article__date">undefined NaN, NaN</time>

  <nav class="article__categories">
  <h3 class="title">Categories</h3>

  
</nav>


  
  

  
    
  

  


  


  

  
    
  

  <a class="link flip" href="http://metamn.io" title="METAMN">
  
  
<span class="flip__span" data-hover="METAMN">METAMN</span>

</a>

</footer>






    
      <script src="/assets/scripts/site.footer.min.js"></script>
    
  

</body>
</html>

