


<!doctype html>
<html lang="en" class=" template-">
  <head>
    <meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="author" content="humans.txt">

<meta property="og:title" content="Beat">
<meta property="og:url" content="/">


    <title> &mdash; Beat</title>
    <link href="/assets/styles/site.min.css" media="screen, projection" rel="stylesheet" type="text/css" />
    
    
      <script src="https://use.typekit.net/syb1owt.js"></script>
    
  
    
      <script src="/assets/scripts/vendors.js"></script>
    
  

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/images/favicons/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/favicons/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/favicons/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/favicons/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="/assets/images/favicons/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/images/favicons/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/images/favicons/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/images/favicons/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="/assets/images/favicons/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="/assets/images/favicons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="/assets/images/favicons/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="/assets/images/favicons/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="/assets/images/favicons/favicon-128.png" sizes="128x128" />
<meta name="application-name" content="&nbsp;"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="/assets/images/favicons/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="/assets/images/favicons/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="/assets/images/favicons/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="/assets/images/favicons/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="/assets/images/favicons/mstile-310x310.png" />

  </head>

  <body>




<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "url": "/",
  "name": "Beat",
  "author": {
    "@type": "Person",
    "name": "Csongor Bartus"
  },
  "description": "Beat is a blog about design and code. It&#39;s lazy yet meta. With focus on that few stories which are shaping the front-end a year.",
  "publisher": {
    "@type": "Organization",
    "name": "Metamn",
    "logo": {
      "@type": "ImageObject",
      "url": "http://metamn.io/assets/images/icons/favicon-196x196.png"
    }
  }
}
</script>


<header class="header">
  <h3 class="header__title">Beat</h3>
</header>


<article class="article">
  
  

  


<h3 class="article__title">
  
    
  
    
  

  


  


  

  

  <a class="link " href="/" title=""></a>
  
</h3>


  <div class='article__content'>
    
  </div>

  

  <aside class="article__categories-and-date">
  <h3>Article categories and date</h3>

  <nav class="article__categories">
  <h3 class="title">Categories</h3>

  <span class="categories"></span>
</nav>

  <time class="article__date">undefined NaN, N</time>

</aside>

</article>




<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Article",
  "mainEntityOfPage":{
     "@type":"WebPage",
     "@id":"/"
   },
  "headline": "",
  "alternativeHeadline": "",
  
  "author": "Csongor Bartus",
  "genre": "web design and development",
  "keywords": "",
  "url": "/",
  "datePublished": "",
  "dateModified": "2016-12-29",
  "description": "",
  "publisher": {
    "@type": "Organization",
    "name": "Metamn",
    "logo": {
      "@type": "ImageObject",
      "url": "http://metamn.io/assets/images/icons/favicon-196x196.png"
    }
  }
}
</script>



<aside class="contact-artwork">
  <h3>Contact Artwork</h3>

  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
      
    
  
    
  

  
  
  

  
<aside class="figure-with-text-around-circle">
  <h3>Figure with a text around in circle</h3>

  




<figure class="figure">

  
  
  

  
  
    
    
    
    
    
    
    
    
  

  
  


  
  
  

  
    
    
  


  
  
  


  <picture class="picture">
    
    <source media="(min-width: 1600px)" srcset="/assets/images/email_mobile.png, /assets/images/email_mobile2x.png 2x">
    <source media="(min-width: 1024px)" srcset="/assets/images/email_mobile.png, /assets/images/email_mobile2x.png 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/email_mobile.png, /assets/images/email_mobile2x.png 2x">
    <source media="(max-width: 599px)" srcset="/assets/images/email_mobile.png, /assets/images/email_mobile2x.png 2x">
    

    
    
    
    <img class="img" src="/assets/images/email_mobile.png" alt="Email icon">
    
  </picture>

  <figcaption class="figcaption figcaption">
    
  
    
  

  


  


  

  

  <a class="link " href="/contact" title="• Follow • Contact ">
      Follow / Contact
    </a>
  </figcaption>
</figure>

  

<div class="text-around-circle">
  <span class="text-around-circle__text">
    
      
  
    
  

  


  


  

  

  <a class="link " href="/contact" title="• Follow • Contact ">• Follow • Contact 
    
  </span>

  <span class="text-around-circle__chars"></span>
</div>

</aside>

</aside>

<footer class="footer">
  <h3>Footer</h3>

  
  

  
    
  

  


  


  

  
    
  

  <a class="link flip beat" href="/" title="Beat">
  
  
<span class="flip__span" data-hover="Beat">Beat</span>

</a>


  by

  
  

  
    
  

  


  


  

  
    
  

  <a class="link flip metamn" href="http://metamn.io" title="METAMN">
  
  
<span class="flip__span" data-hover="METAMN">METAMN</span>

</a>

</footer>





    
      <script src="/assets/scripts/site.footer.min.js"></script>
    
  

</body>
</html>

