@mixin footnotes {
  @include text-style(article-body-text);
  flex-basis: 100%;

  border-top: 1px solid;
  margin-top: $lem * 2;

  border-bottom: 1px solid;
  padding-bottom: $lem * 2;

  h3 {
    display: flex;
  }

  .link {
    @include link(black-on-white, black-on-white, black-on-white);

    &.go-back {
      display: flex;
      @include link-linethrough;
    }
  }

  .arrow-with-triangle {
    @include arrow-with-triangle;
  }
}
