@mixin what-some-people-apart-are-up-to-in-2016__ala {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: $lem;

  .figure {
    @include figure;
    background: transparent;

    .picture {
      padding: 0;
    }
  }

  .text-around-circle {
    @include text-around-circle(12.5em, 30);

    position: absolute;
    left: 47%;
    top: 0;
  }


  @include landscape {
    @include max-width(12.5em);
    height: 12.5em;

    .figure {
      @include circle(12.5em / 1.5);
      display: block;
    }

    .text-around-circle {
      @include text-around-circle(12.5em, 30);
    }
  }


  @include portrait {
    @include max-width(8.33em);
    height: 8.33em;

    .figure {
      @include circle(8.33em / 1.5);
      display: block;
    }

    .text-around-circle {
      @include text-around-circle(8.33em, 30);
    }
  }
}
