@mixin web-trends-september-2016-artwork__background-animation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  height: 100%;

  .arrow-with-triangle {
    @include arrow-with-triangle;

    padding: $lem;
  }

  .trapezoid {
    @include trapezoid($lem * 2, $lem * 2, 10%);
    padding: $lem * 2;
  }

  .char {
    @include scale(large-8);
    left: 0;
  }

  .move-element {
    @include move-elements;
  }
}
