@mixin article--masters-of-web-february-2016 {
  flex-basis: 100%;
  flex-direction: column;
  margin-right: 0;

  // This fixes the flexbox word-wrap bug
  // - when removed the title goes beyond the slider
  @include mobile {
    flex-direction: row;
    > * {
      flex-basis: 100%;
    }
  }

  .article__date,
  .article__categories {
    align-self: center;
    text-align: center;
  }

  // Without this the slider will overlap the articles after
  .article__slider {
    @include portrait {
      height: calc(100vw / 0.75);
    }

    @include landscape {
      height: 75vh;
    }
  }

  // The slider has images and figcaption
  .slider {
    @include slider--with-image;
    @include slider-with-url;

    @include portrait {
      @include intrinsic-ratio(3, 4, '.slider__slides');
      // make room for figcaption
      padding-bottom: calc(133.33333% + #{$lem * 3})
    }

    @include landscape {
      @include intrinsic-ratio(16, 9, '.slider__slides');
    }
  }
}
