@mixin article__more {
  padding: $lem * 2;
  padding-bottom: 0;
  
  order: 10;
  align-self: flex-end;

  .arrow-with-saquo {
    @include arrow-with-saquo;
  }

  .link {
    @include link(black-on-white, black-on-white, black-on-white, black-on-white);
  }

  &--active {
    @include article__more--active;
  }

  &--inactive {
    @include article__more--inactive;
  }
}
